ion-toolbar{
    --background: #353535;
    --color:red;
    padding: 15px 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 1px 5px 8px 2px #000000;
  }
ion-header{
    background: #c80502;
}

ion-content{
    --background: linear-gradient(0deg, rgba(53,53,53,1) 0%, rgba(200,5,2,1) 100%);
}
.header-title{
    font-family: "Dodger";
    font-size: 1.5em;
  }