<ion-page id="container" class="">
  <div class="ion-padding">
    <h2 class="main-title">SPEEDY MOTO</h2>
    <p class="sub-text">News and Speed at your mobile anytime and anywhere you go a best buddy app for you!!!</p>
  </div>
<ion-grid>
  <ion-row class="ion-align-items-center ion-text-center">
    <ion-col (click)="navigationRoute('riders')"  size="4">
        <img  src="/assets/icon/mot2.png">
    </ion-col>
    <ion-col size="4" (click)="navigationRoute('guide')">
        <img src="/assets/icon/cal2.png">
    </ion-col>
    <ion-col size="4"  (click)="navigationRoute('result')" >
        <img src="/assets/icon/cam2.png">
    </ion-col>
  
    <!-- /. items above -->
    <ion-col size="2"></ion-col>
    <ion-col size="4"  (click)="navigationRoute('news')"  >
        <img src="/assets/icon/flag2.png">
    </ion-col>
    <ion-col size="4" >
        <img src="/assets/icon/wheel2.png">
    </ion-col>
    <ion-col size="2"></ion-col>
    <!-- /. items below -->
    <ion-col size="12">
      <div class="container-bike">
        <div class="bike-body">
          <div class="seat"></div>
          <div class="cover"></div>
          <div class="lamp"></div>
          <div class="motor">
            <div class="part-1">
              <div class="part-1-top"></div>
              <div class="part-1-bottom"></div>
            </div>
            <div class="part-2">
              <div class="part-2-base">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
              </div>
            </div>
          </div>
          <div class="front"></div>
          <div class="back"></div>
        </div>
        <div class="tire"></div>
        <div class="tire"></div>
        <div class="smoke"></div>
      </div>
    </ion-col>
  </ion-row> 
</ion-grid>
</ion-page>