<ion-page id="container" class="">
  <div class="ion-padding">
    <h2 class="main-title">Motor Racing Way</h2>
    <p class="sub-text">News and Speed at your mobile anytime and anywhere you go a best buddy app for you!!!</p>
  </div>
<ion-grid>
  <ion-row class="ion-align-items-center ion-text-center">
    <ion-col (click)="navigationRoute('riders')"  size="4">
        <img  src="/assets/icon/1b.png">
    </ion-col>
    <ion-col size="4" (click)="navigationRoute('guide')">
        <img src="/assets/icon/2b.png">
    </ion-col>
    <ion-col size="4"  (click)="navigationRoute('result')" >
        <img src="/assets/icon/4b.png">
    </ion-col>
  
    <!-- /. items above -->
    <ion-col size="2"></ion-col>
    <ion-col size="4"  (click)="navigationRoute('news')"  >
        <img src="/assets/icon/flag2.png">
    </ion-col>
    <ion-col size="4" (click)="realoadData()" >
        <img src="/assets/icon/1.png">
    </ion-col>
    <ion-col size="2"></ion-col>
    <!-- /. items below -->
    <ion-col size="12" class="ion-padding mb-2">
      <img src="/assets/icon/3b.png" > 
    </ion-col>
    <ion-col size="12" class="ion-padding mb-2">
    </ion-col>
  </ion-row> 
</ion-grid>
</ion-page>