ion-toolbar{
    --background: #353535;
    --color:red;
    // padding: 15px 0;
    // border-bottom-left-radius: 50px;
    // border-bottom-right-radius: 50px;
    // box-shadow: 1px 5px 8px 2px #000000;
  }
ion-header{
    background: #c80502;
}

ion-content{
    --background: linear-gradient(0deg, rgba(200,5,2,1)0%,   rgba(53,53,53,1)  100%);
}
ion-list{
    background: transparent;
  
}
ion-item{
    // --background: #353535; 
    --background:transparent; 
    color: red;
    // color:#353535;
    // --background: linear-gradient(0deg,  rgba(200,5,2,1) 0%,  rgba(53,53,53,1) 100%);
    border: unset;
    text-align: center;
}

// border-top-right-radius: 50px; border-top-left-radius: 50px;