<app-side-menu></app-side-menu>
<div class="ion-page" id="main-content">
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-title">Speedy Motor</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content class="ion-padding">
   <ion-card>
     <ion-card-header>
       <img src="https://destination.motogp.com/images/gps/1492781502_shutterstock_59431840.jpg">
        <ion-card-title>
          Doha, Qatar
        </ion-card-title>
     </ion-card-header>
        <ion-card-content>
          <p class="ion-text-justify">
            The Grand Prix of Qatar is undoubtedly one of the most spectacular events on the MotoGP™ calendar. The action here takes place at night under the floodlights of the brilliant Losail International Circuit, which sits around 30km outside Doha - the exciting and evolving capital city of Qatar.
             <br><br> Located in the Qatari desert, the Losail circuit held its first event at the venue with the October 2004 Grand Prix of Qatar, won by Sete Gibernau. In 2008 Qatar celebrated the first floodlit Grand Prix in the history of the MotoGP™ World Championship and since 2007 Qatar has also hosted the season opening race on the GP calendar.
          </p>

        </ion-card-content>

        <ion-card-header>
          <img src="https://images.pexels.com/photos/3069345/pexels-photo-3069345.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
           <ion-card-title>
            Why we love Qatar and Doha
           </ion-card-title>
        </ion-card-header>
           <ion-card-content>
             <p class="ion-text-justify">
              Located in Western Asia, Qatar sits in the Persian Gulf - a small peninsula, with its sole land border of Saudi Arabia to the south. Across the Persian Gulf from the Arabian Peninsula, is the nearby island country Bahrain. In this most exotic and intriguing part of the world, Qatar also shares maritime borders with the United Arab Emirates and Iran.
              <br><br>
              For anyone who has not visited the Arabian Peninsula, the ancient desert landscape with its rapidly developing cities and infrastructure, is a wonder to behold.
              <br><br>
              Doha, Qatar’s breathtaking capital city is situated in the east of the country on the Persian Gulf coast. Qatar has a population of around 1.5 million, with roughly half the inhabitants residing in the capital, or its surrounding suburbs. Doha was recognized in 2014 as one of the ‘New7Wonders Cities’ together with Vigan, La Paz, Durban, Havana, Beirut, and Kuala Lumpur. Its impressively expanding skyline, dominated by glittering skyscrapers, contrasting with the traditional Arabic Old Souq in the downtown area, has promoted the city as a top representation of global urban civilization.
              <br><br>
              Previously under Bahraini and Saudi rule (1783–1868), Ottoman rule (1871–1915) and more recently British rule (1916–1971), Qatar became an independent, sovereign State in the early 1970s and has since undergone an immense transformation.
              <br><br>
              Backed by the world's third largest natural gas and oil reserves, with the highest per capita income in the world, the population has grown from around 111,000 in 1970 to around 750,000 in 2004, on to an incredible 2,545,000 in 2016, as the country invests heavily in infrastructure and the future of its economy.
              <br><br>
              Without doubt Qatar is a country on the up. Witnessing the speed of its transformation first hand is an exhilarating experience.
             </p>
   
           </ion-card-content>
   </ion-card>
  </ion-content>
</div>